{% set route = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') | merge(filter) %}
{% import 'AppBundle:Grid:paging.html.twig' as paginator %}

<div class="grid">
    <form method="get" class="grid-filter">
        <div class="grid_header"></div>
        <div class="grid_body">
            <table class="table responsive table-hover table-condensed">
                <thead class="titles">
                    <tr>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 't.name' })) }}">{{ 'admin.destination.title'|trans }}</a></th>
                        <th class="text-right">{{ 'admin.global.action'|trans }}</th>
                    </tr>
                    <tr class="grid-row-filters"></tr>
                </thead>

                {% for data_item in data %}
                    <tbody>
                        <tr class="grid-row-cells even">
                            <td class="grid-column-name">{{ data_item.translate().name }}</td>
                            {% block edit_actions %}
                                <td class="text-right functions">
                                    <a href="{{ url('admin_destination_edit', {'id': data_item.id}) }}" class="btn btn-secondary"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="{{ url('admin_destination_remove', {'id': data_item.id}) }}" class="btn btn-primary" data-method="DELETE" data-confirm="{{ 'admin.global.reallyDelete'|trans }}"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            {% endblock edit_actions %}
                        </tr>
                    </tbody>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-10">
        {% block pagination %}
            {% if data|length > 0 %}
                {{ paginator.nav(page, max_page) }}
            {% endif %}
        {% endblock pagination %}
    </div>
</div>