{% extends 'layout.html.twig' %}

{% block head_css %}
    <link rel="stylesheet" href="{{ asset('/css/web.css') }}"/>
{% endblock %}

{% block header %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('web_homepage_index') }}">
                    {{ 'web.brand'|trans }}
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', { 'style': 'navbar-right' }) }}
            </div>
        </div>
    </nav>
{% endblock header %}

{% block footer %}
    <footer>
        <ul>
            <li><a href="{{ path('app_static_termsofuse') }}">{{ 'web.static.termsOfUse.title'|trans }}</a></li>
        </ul>

        {% for lang_locale,language in languages %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': lang_locale})) }}" class="{% if locale == lang_locale %}active{% endif %}">{{ language }}</a> |
        {% endfor %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/js/web.js') }}" type="application/javascript"></script>

{% endblock %}