{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block title %}{{ parent() }} - {{ title }} {% endblock %}

{% import "AppBundle:_macros:a2lix_form_macros.html.twig" as a2lixMacros %}

{% block content %}

    <h1>{{ title|trans }}</h1>

    <div class="well">

        {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.lat, {'label': 'admin.destination.entity.lat'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.lng, {'label': 'admin.destination.entity.lng'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.code, {'label': 'admin.destination.entity.code'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.photoFile, {'label': 'admin.destination.entity.photoFile'}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.translations, {'label': false}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.submit, {'label': 'admin.global.save'}) }}
        </div>

        {{ form_end(form) }}

    </div>

{% endblock content %}