{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.destination.title'|trans }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12 main-block-heading">
            <h2 class="pull-left">{{ 'admin.destination.title'|trans }}</h2>
            <a href="{{ url('admin_destination_new') }}" class="btn btn-primary pull-right" title="{{ 'admin.destination.actions.create'|trans }}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>

    {{ include('AppBundle:Admin/Destination:includes/grid.html.twig') }}

{% endblock %}
