{% extends 'AppBundle:Admin:layout.html.twig' %}

{% set page_title = 'admin.brand'|trans %}

{% block content %}
    <div class="main-block-heading">
        <h1>{{ page_title }}</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="tile" href="{{ url('admin_user_index') }}">
                <p class="icon icon-user"></p>
                <h4>{{ 'admin.users.title'|trans }}</h4>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a class="tile bg-1" href="{{ url('admin_static_text_index') }}">
                <p class="icon icon-align-left"></p>
                <h4>{{ 'admin.staticText.title'|trans }}</h4>
            </a>
        </div>
    </div>
{% endblock content %}