{% extends 'layout.html.twig' %}

            {% block head_css %}
                <link rel="stylesheet" href="{{ asset('/css/admin.css') }}"/>
            {% endblock head_css %}

{% block header %}
    <nav class="navbar navbar-default navbar-admin">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-admin">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="sidebar-toggle" href="#"><span class="fa fa-bars" aria-hidden="true"></span></a>
                <a class="navbar-brand" href="{{ path('admin_homepage') }}">
                    {{ 'admin.brand'|trans }}
                </a>
            </div>

            {% for lang_locale,language in languages %}
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': lang_locale})) }}" class="{% if locale == lang_locale %}active{% endif %}">{{ language }}</a> |
            {% endfor %}

            <div class="collapse navbar-collapse" id="navigation-admin">
                {{ knp_menu_render('AppBundle:Builder:adminMenu', { 'style': 'navbar-right' }) }}
            </div>
        </div>
    </nav>
{% endblock header %}

{% block container %}

    <div id="container" class="{% block containerClass %}container-fluid main-layout{% endblock %}">

        <aside class="sidebar">
            <div class="nav-collapse" tabindex="5000">
                <ul class="nav nav-sidebar">

                    <li><a href="{{ url('admin_homepage') }}"><span class="fa fa-th-large"></span>{{ 'admin.brand'|trans }}</a></li>
                    <li><a href="{{ url('admin_user_index') }}"><span class="fa fa-user"></span>{{ 'admin.users.title'|trans }}</a></li>
                    <li><a href="{{ url('admin_static_text_index') }}"><span class="fa fa-bars"></span>{{ 'admin.staticText.title'|trans }}</a></li>
                </ul>
            </div>
        </aside>

        <section class="main-content">

            <div class="main-block">

                <div class="row">

                    {% block flash_messages %}
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endblock flash_messages %}


                    {% block content %}{% endblock %}

                </div>

            </div>

        </section>
    </div>
{% endblock container %}