{% set route = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') | merge(filter) %}
{% import 'AppBundle:Grid:paging.html.twig' as paginator %}

<div class="row">
    <div class="col-sm-12">
        <form method="get" class="grid-filter">
            <table class="table responsive table-hover">
                <thead class="title">
                    <tr>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': '[[ entity_id ]].id' })) }}">{{ 'admin.[[ entity ]].entity.id'|trans }}</a></th>
                        <th class="text-right">{{ 'admin.global.action'|trans }}</th>
                    </tr>
                </thead>
                <thead class="filters">
                    <tr>
                        <th>
                        </th>
                        {#
                            =======================
                            VALUE FILTER
                            -----------------------
                        <th>
                            <input name="name" type="text" value="{{ filter.name }}" class="send-form-on-enter" placeholder="{{ 'admin.global.filter'|trans }}" />
                        </th>

                            =======================
                            SELECT BOX FILTER
                            -----------------------
                        <th>
                            <select name="role" class="send-form-on-change">
                                <option value="">-- {{ 'admin.global.choose'|trans }} ---</option>
                                {% for key, role in filterData.roles %}
                                    <option value="{{ key }}" {% if filter.role == key %}selected="selected"{% endif %}>{{ role }}</option>
                                {%  endfor %}
                            </select>
                        </th>

                        {#
                            =======================
                            CUSTOM SELECT BOX FILTER
                            -----------------------
                        <th>
                            <select name="enabled" class="send-form-on-change">
                                <option value="">-- {{ 'admin.global.choose'|trans }} ---</option>
                                <option value="1" {% if filter.enabled == '1' %}selected="selected"{% endif %}>{{ 'admin.global.yes'|trans }}</option>
                                <option value="0" {% if filter.enabled == '0' %}selected="selected"{% endif %}>{{ 'admin.global.no'|trans }}</option>
                            </select>
                        </th>
                        #}

                        <th class="text-right">
                            <button type="submit" class="btn btn-black btn-sm"><span class="fa fa-filter"></span></button>
                            <a class="btn btn-default btn-sm" href="{{ url('admin_[[ entity ]]_index') }}"><span class="fa fa-times"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for data_item in data %}
                    <tr>
                        <td>{{ data_item.id }}</td>
                        <td class="functions">
                            <a href="{{ url('admin_[[ entity ]]_edit', {'id': data_item.id}) }}"><span class="fa fa-edit"></span></a>
                            <a href="{{ url('admin_[[ entity ]]_remove', {'id': data_item.id}) }}" data-method="DELETE" data-confirm="{{ 'admin.users.messages.confirmDelete'|trans }}"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% block pagination %}
            {% if data|length > 0 %}
                {{ paginator.nav(page, max_page) }}
            {% endif %}
        {% endblock pagination %}
    </div>
</div>