{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.staticText.title'|trans }} {% endblock %}

{% block main_heading %}
    <div class="main-block-heading main-block-heading-actions">
        <h1>{{ 'admin.staticText.title'|trans }}</h1>
        <a href="{{ url('admin_static_text_new') }}" class="btn btn-primary" title="{{ 'admin.staticText.actions.create'|trans }}">
            <span class="icon icon-plus"></span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

    {{ include('AppBundle:Admin/StaticText:includes/grid.html.twig') }}

{% endblock %}
