{% set route = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') | merge(filter) %}
{% import 'AppBundle:Grid:paging.html.twig' as paginator %}

{% set page_title = 'admin.users.title'|trans %}

<div class="row">
    <div class="col-sm-12">
        <form method="get" class="grid-filter">
            <table class="table table-hover">
                <thead class="title">
                    <tr>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 'U.lastName' })) }}">{{ 'admin.users.entity.name'|trans }}</a></th>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 'U.email' })) }}">{{ 'admin.users.entity.email'|trans }}</a></th>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 'U.roles' })) }}">{{ 'admin.users.entity.role'|trans }}</a></th>
                        <th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 'U.enabled' })) }}">{{ 'admin.users.entity.enabled'|trans }}</a></th>
                        {#<th><a class="order" href="{{ path(route, route_params | merge({ 'sortBy': 'U.lastLogin' })) }}">{{ 'admin.users.entity.lastLogin'|trans }}</a></th>#}
                        <th class="text-right">{{ 'admin.global.action'|trans }}</th>
                    </tr>
                </thead>
                <thead class="filters">
                    <tr>
                        <th>
                            <input name="name" type="text" value="{{ filter.name }}" class="send-form-on-enter" placeholder="{{ 'admin.global.filter'|trans }}" />
                        </th>
                        <th>
                            <input name="email" type="text" value="{{ filter.email }}" class="send-form-on-enter" placeholder="{{ 'admin.global.filter'|trans }}" />
                        </th>
                        <th>
                            <select name="role" class="send-form-on-change">
                                <option value="">-- {{ 'admin.global.choose'|trans }} ---</option>
                                {% for key, role in filterData.roles %}
                                    <option value="{{ key }}" {% if filter.role == key %}selected="selected"{% endif %}>{{ role }}</option>
                                {%  endfor %}
                            </select>
                        </th>
                        <th>
                            <select name="enabled" class="send-form-on-change">
                                <option value="">-- {{ 'admin.global.choose'|trans }} ---</option>
                                <option value="1" {% if filter.enabled == '1' %}selected="selected"{% endif %}>{{ 'admin.global.yes'|trans }}</option>
                                <option value="0" {% if filter.enabled == '0' %}selected="selected"{% endif %}>{{ 'admin.global.no'|trans }}</option>
                            </select>
                        </th>
                        {#<th></th>#}
                        <th class="text-right">
                            <button type="submit" class="btn btn-black btn-sm"><i class="icon icon-funnel"></i></button>
                            <a class="btn btn-default btn-sm" href="{{ url('admin_user_index') }}"><i class="icon icon-cross"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for data_item in data %}
                    <tr>
                        <td>{{ data_item.getFullName }}</td>
                        <td>{{ data_item.email }}</td>
                        <td>{{ data_item.userRoleName }}</td>
                        <td>{{ data_item.enabled|renderBool }}</td>
                        <td class="functions">
                            <a class="btn btn-detail" href="{{ url('admin_user_detail', {'id': data_item.id}) }}">
                                <i class="icon icon-magnifier"></i>
                            </a>
                            <a class="btn btn-edit" href="{{ url('admin_user_edit', {'id': data_item.id}) }}">
                                <i class="icon icon-pencil"></i>
                            </a>
                            <a class="btn btn-delete" href="{{ url('admin_user_remove', {'id': data_item.id}) }}" data-method="DELETE" data-confirm="{{ 'admin.users.messages.confirmDelete'|trans }}">
                                <i class="icon icon-trash2"></i>
                            </a>
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% block pagination %}
            {% if max_page > 1 %}
                {{ paginator.nav(page, max_page) }}
            {% endif %}
        {% endblock pagination %}
    </div>
</div>