{% extends "FOSUserBundle::layout.html.twig" %}

{% set page_title = 'web.menu.login'|trans %}
{% set body_class = 'body-auth' %}
{% block fos_user_content %}


    <div class="page-container">
        <div class="row">
            <div class="panel">
                <div class="panel-header">
                    <img src="/img/logo-admin.png" width="340" alt="" class="img-responsive">
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <div class="form-group">
                        <input type="email" id="email" name="_username" value="{{ last_username }}"
                               required="required" class="form-control"
                               placeholder="{{ 'security.login.email'|trans }}"/>
                    </div>


                    <div class="form-group">
                        <input type="password" id="password" name="_password" required="required"
                               class="form-control" placeholder="{{ 'security.login.password'|trans }}"/>
                    </div>

                    <div class="form-group form-group-remember">
                        <div class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" id="_submit" name="_submit"
                               value="{{ 'security.login.submit'|trans }}"
                               class="btn btn-primary btn-block btn-lg"/>
                    </div>


                    <div class="form-group">
                        <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock fos_user_content %}