{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block title %}{{ parent() }} - {{ user.getFullName }} {% endblock %}
{% block main_heading_content %}{{ user.getFullName }}{% endblock %}

{% block main_heading %}
    <div class="main-block-heading main-block-heading-actions">
        <h1>{{ user.getFullName }}</h1>

        <a class="btn btn-secondary btn-lg" href="{{ url('admin_user_remove', {'id': user.id}) }}" title="Delete">
            <span class="icon icon-trash"></span>
        </a>

        <a class="btn btn-primary btn-lg" href="{{ url('admin_user_edit', {'id': user.id}) }}" title="Edit">
            <span class="icon icon-pencil"></span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

    <p>{{ user.email }}</p>
    <p>{{ user.userRoleName }}</p>
    <p>{{ 'admin.users.entity.enabled'|trans }}: {{ user.enabled|renderBool }}</p>
    <p>{{ 'admin.users.entity.lastLogin'|trans }}{% if user.lastLogin is not empty %}: {{ user.lastLogin|date('general.timestamp'|trans) }}{% endif %}</p>

{% endblock content %}