{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block title %}{{ parent() }} - {{ user.getFullName }} {% endblock %}
{% block main_heading_content %}{{ user.getFullName }}{% endblock %}

{% block content %}

    <p>{{ user.email }}</p>
    <p>{{ user.userRoleName }}</p>
    <p>{{ 'admin.users.entity.enabled'|trans }}: {{ user.enabled|renderBool }}</p>
    <p>{{ 'admin.users.entity.lastLogin'|trans }}{% if user.lastLogin is not empty %}: {{ user.lastLogin|date('general.timestamp'|trans) }}{% endif %}</p>

{% endblock content %}