{% extends 'AppBundle:Admin:layout.html.twig' %}
    {% block title %}{{ parent() }} - {{ title|trans }} {% endblock %}

{% block content %}

    <h1>{{ user.getFullName }}</h1>

    <p>{{ user.email }}</p>
    <p>{{ user.userRoleName }}</p>
    <p>{{ 'admin.users.entity.enabled'|trans }}: {{ user.enabled|renderBool }}</p>
    <p>{{ 'admin.users.entity.lastLogin'|trans }}{% if user.lastLogin is not empty %}: {{ user.lastLogin|date('general.timestamp'|trans) }}{% endif %}</p>

{% endblock content %}