{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.users.title'|trans }} {% endblock %}

{% block main_heading %}
    <div class="main-block-heading">
        <h1 class="pull-left">{{ 'admin.users.title'|trans }}</h1>
        <a href="{{ url('admin_user_new') }}" class="btn btn-primary pull-right" title="{{ 'admin.users.actions.create'|trans }}">
            <span class="fa fa-plus"></span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

    {{ include('AppBundle:Admin/User:includes/grid.html.twig') }}

{% endblock %}
