{% extends 'AppBundle:Admin:layout.html.twig' %}
{% block title %}{{ parent() }} - {{ title|trans }} {% endblock %}
{% block main_heading_content %}{{ title|trans }}{% endblock %}

{% block content %}

    {{ form_widget(form) }}

    {#

        =======================
        BASIC TEMPLATE
        -----------------------
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.id, {'label': 'admin.[[ entity ]].entity.id'}) }}
        </div>
    </div>

    {{ form_end(form) }}
    #}
{% endblock content %}