{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.[[ entity ]].title'|trans }} {% endblock %}

{% block main_heading %}
    <div class="main-block-heading">
        <h1 class="pull-left">{{ 'admin.[[ entity ]].title'|trans }}</h1>
        <a href="{{ url('admin_[[ entity ]]_new') }}" class="btn btn-primary pull-right" title="{{ 'admin.[[ entity ]].actions.create'|trans }}">
            <span class="icon icon-plus"></span>
        </a>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}

    {{ include('AppBundle:Admin/[[ entity_class ]]:includes/grid.html.twig') }}

{% endblock %}
