{% extends 'AppBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ 'admin.[[ entity ]].title'|trans }} {% endblock %}

{% block main_heading %}
    <div class="page-heading">
        <h1>{{ 'admin.[[ entity ]].title'|trans }}</h1>

        <div class="page-heading-actions">
            <a href="{{ url('admin_[[ entity ]]_new') }}"
               class="btn btn-add btn-lg"
               title="{{ 'admin.[[ entity ]].actions.create'|trans }}">
                <i class="icon icon-plus"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}

    {{ include('AppBundle:Admin/[[ entity_class ]]:includes/grid.html.twig') }}

{% endblock %}
